<nav id="nav">
  <h1>Vinh</h1>
  <h1>Nguyen</h1>
  <div class="nav-menu" id="nav-menu">
    <h2 id="menu">Menu</h2>
    <h2 id="hide">Hide</h2>
    <div>
      <a href="#">#</a>
      <a href="#">#</a>
      <a href="#">#</a>
    </div>
  </div>
</nav>

<div id="container">
  <div id="contaianer">
      <section id="wrapper">
        <div class="p1" data-speed="0.01" data-revert="true"></div>
        <div class="p2" data-speed="0.03"></div>
        <div class="p3" data-speed="0.00"></div>
        <div class="letra" data-speed="0.00"><p>Full Stack</p><p>Developer</p></div>
      </section>
  </div>
</div>

<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/color.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/vertigo.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/navbar.js"></script>
